html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #1566b8;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}

p,
div {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

.wrapper .main {
  overflow-y: auto;
}

.main {
  flex: 1;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.footer {
  background-color: #ccc;
  padding: 10px 0;
}

.footer {
  background-color: #e9e9e9;
}
