.history-wrapper {
  background-color: rgba(114, 76, 76, 0.815);
  height: 99.1vh;
  min-height: 99.1vh;
  width: 200px;
  right: 0;
  position: absolute;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
}

.MuiLink-button:hover {
  color: rgba(0, 0, 0, 0.548);
}
