body {
  margin: 0;
}

.h2 {
  margin-top: 0;
}

.response-wrapper {
  margin-top: 10px;
}

.response-data-filled {
  height: 500px;
}

.response-data {
  display: flex;
  flex-direction: column;
  width: 500px;
  overflow-y: scroll;
}

.h3-width {
  width: 150px;
}

.graphiql-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headers-wrapper {
  display: flex;
  flex-direction: column;
}

.query_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graphiql-overflow {
  /* overflow: hidden; */
  height: 100vh;
}

.textarea {
  width: 550px;
}

.textarea-query {
  height: 200px;
}

.textarea-variables {
  height: 50px;
}

.headers-element {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.header_button {
  width: 66px;
}

.header-buttons-wrapper {
  display: flex;
  justify-content: space-around;
}

.variables-wrapper {
  display: flex;
  flex-direction: row;
}

.history-wrapper {
  min-width: 200px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .15);
  box-shadow: 0 0 8px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
}

.graphql_page_wrapper {
  display: flex;
  flex-direction: row;
}

.close_hiwtory_block {
  margin: 10px 10px 0px auto;
}

.close_hiwtory_block:hover {
  cursor: pointer;
}